@using Beyond.Models.Control
@using Microsoft.AspNetCore.Mvc.RazorPages
@section CSS
{
    <link rel="stylesheet" href="/css/sideBar.css">
}
@{
    <partial name="_ControlNavigationPartial"></partial>
    <!-- Page content -->
    <div id="panel-container" class="panel-content">
        <h1 style="font-size: 30px; color: white; text-align: center; padding-top: 30vh;">Welcome Admin!</h1>
    </div>
}
@section Scripts
{
    <script src="/js/renderPartial.js"></script>
}