@using Beyond.Models.Control
@section CSS
{
    <link rel="stylesheet" href="/css/sideBar.css">
}
@{
    <div class="sidenav">
        <h1>Add</h1>
        <a class="side-menu" data-menu="Vehicle">Vehicle</a>
        <a class="side-menu" data-menu="Pilot">Pilot</a>
        <a class="side-menu" data-menu="Destination">Clients</a>
    </div>

    <!-- Page content -->
    <div id="panel-container" class="panel-content">
        <h1>Welcome Admin</h1>
    </div>
}
@section Scripts
{
    <script src="/js/renderPartial.js"></script>
}