@model Beyond.Models.DTOs.PilotDto
@section CSS
{
    <link rel="stylesheet" href="/css/sideBar.css">
}
@{
    <partial name="_ControlNavigationPartial"></partial>
    <!-- Page content -->
    <div id="panel-container" class="panel-content">
        <div style="text-align: center; color: white;">
            <form id="MyForm" asp-action="Pilot" asp-controller="Control" method="post" style="display: inline-block; width: 100%; max-width: 500px;">
                <h2 class="login-header" style="text-align:center">Add Pilot</h2>
                <label>Name</label><br>
                <span asp-validation-for="Name" style="color: orangered"></span>
                <input class="login-input" type="text" id="name" asp-for="Name"><br>
                <label >Age</label><br>
                <span asp-validation-for="Age" style="color: orangered"></span>
                <input class="login-input" type="number" id="age" asp-for="Age"><br>
                <label>Rank</label><br>
                <span asp-validation-for="Rank" style="color: orangered"></span>
                <select class="login-input" required="" asp-for="Rank" id="rank">
                    @{
                        foreach (var rank in ViewData["ranks"] as IList<PilotRanksViewModel>)
                        {
                            <option name="rank" value="@rank.Value">@rank.Name</option>
                        }
                    }
                </select><br>
                <label>Short Description</label><br>
                <span asp-validation-for="Description" style="color: orangered"></span>
                <textarea class="login-input"type="text" id="description" asp-for="Description"></textarea><br>
                <label>Picture Url</label><br>
                <span asp-validation-for="Url" style="color: orangered"></span>
                <input  class="login-input" required="" type="url" id="url" asp-for="Url"><br>
                <input class="login-button" type="submit" value="Create">
            </form>
        </div>
    </div>
}
