
<div class="sidenav">
    <h1 style="padding: 16px; color: white">Add</h1>
    <a asp-action="Vehicle" asp-controller="Control">Vehicle</a>
    <a asp-action="Pilot" asp-controller="Control">Pilot</a>
    <a asp-action="Destination" asp-controller="Control">Destination</a>
    <h1 style="padding: 16px; color: white">Edit</h1>
    <a asp-action="VehicleAll" asp-controller="Edit">Vehicles</a>
    <a asp-action="DestinationsAll" asp-controller="Edit">Destinations</a>
    <a asp-action="PilotsAll" asp-controller="Edit">Pilots</a>

</div>