
<div class="sidenav">
    <h1 style="padding: 16px; color: white">Add</h1>
    <a class="side-menu" asp-action="Vehicle" asp-controller="Control">Vehicle</a>
    <a class="side-menu" asp-action="Pilot" asp-controller="Control">Pilot</a>
    <a class="side-menu" data-menu="Destination">Destination</a>
</div>