
<div class="sidenav">
    <h1 style="padding: 16px; color: white">Add</h1>
    <a class="side-menu" asp-action="Vehicle" asp-controller="Control">Vehicle</a>
    <a class="side-menu" asp-action="Pilot" asp-controller="Control">Pilot</a>
    <a class="side-menu" asp-action="Destination" asp-controller="Control">Destination</a>
    <h1 style="padding: 16px; color: white">Edit</h1>
    <a class="side-menu" asp-action="VehicleAll" asp-controller="Edit">Vehicle</a>
</div>