@using Beyond.Models.Control
<div style="text-align: center; color: white;">
    <form id="MyForm" asp-action="Destination" asp-controller="Control" method="post" style="display: inline-block; width: 100%; max-width: 500px;">
        <h2 class="login-header" style="text-align:center">Add Destination</h2>
        <label for="name">Name</label><br>
        <input class="login-input" type="text" id="name" name="Name"><br>
        <label for="distance">Distance</label><br>
        <input class="login-input" type="text" id="distance" name="Distance"><br>
        <label for="description">Description</label><br>
        <textarea class="login-input" type="text-box" id="description" name="Description" rows="3"></textarea><br>
        <label for="url">Image Url</label><br>
        <input class="login-input" type="text" id="url" name="Url"><br>
        <label for="price">Price</label><br>
        <input class="login-input" type="text" id="price" name="Price"><br>
       
        <input class="login-button" type="submit" value="Add">
    </form>
</div>
