@using Beyond.Models.Control
<div style="text-align: center; color: white;">
        <form id="MyForm" asp-action="Pilot" asp-controller="Control" method="post" style="display: inline-block; width: 100%; max-width: 500px;">
            <h2 class="login-header" style="text-align:center">Add Pilot</h2>
            <label for="name">Name</label><br>
            <input class="login-input" type="text" id="name" name="Name"><br>
            <label for="age">Age</label><br>
            <input class="login-input" type="text" id="age" name="Age"><br>
            <label for="rank">Rank</label><br>
            <select class="login-input" name="Rank" id="rank">
                @{
                    foreach (var rank in ViewData["ranks"] as IList<PilotRanksViewModel>)
                    {
                        <option name="rank" value="@rank.Value">@rank.Name</option>
                    }
                }
            </select><br>
            <label for="description">Short Description</label><br>
            <input class="login-input" type="text" id="description" name="Description"><br>
            <label for="url">Picture Url</label><br>
            <input  class="login-input" type="text" id="url" name="Url"><br>
            <input class="login-button" type="submit" value="Create">
        </form>
    </div>