@using Beyond.Models.Control
@{
    var pilots = ViewData["pilots"];
    var destinations = ViewData["destinations"];
    <div style="text-align: center; color: white;">
    <form id="MyForm" asp-action="Vehicle" asp-controller="Control" method="post" style="display: inline-block; width: 100%; max-width: 500px;">
        <h2 class="login-header" style="text-align:center">Create Vehicle</h2>
        <label>Model</label><br>
        <input class="login-input" type="text" id="name" required="" name="Model"><br>
        <label>Speed</label><br>
        <input class="login-input" type="number" id="speed" name="Speed"><br>
        <label>Choose a pilot:</label><br>
        @if(ViewBag.PilotIsNull)
        {
            <select required="" class="login-input" onchange="Redirect(this)">
            <option disabled selected value="default"> -- select an option -- </option>
            <option  value="Pilot">+ Add Pilot</option>
        </select><br>
        }
        else
        {
            <select class="login-input" name="PilotId" id="pilot">
                @{
                    foreach (var pilot in ((IList<ControlPilotsViewModel>) pilots)!)
                    {
                        <option name="pilot" value="@pilot.Id">@pilot.Name</option>
                    }
                }
            </select><br>
        }
        <label>Serial Number</label><br>
        <input class="login-input" type="text" id="serialNumber" required="required" name="SerialNumber"><br>
        <label>Seats</label><br>
        <input class="login-input" type="number" required="" id="seats" name="Seats"><br>
        <label>Launch site</label><br>
        <input class="login-input" required="" type="text" id="launchSite" name="LaunchSite"><br>
        <label>Departure</label><br>
        <input class="login-input" required="" type="datetime-local" id="departure" name="Departure"><br>
        <label>Arrival</label><br>
        <input class="login-input" required="" type="datetime-local" id="arrival" name="Arrival"><br>
        <label>Destination</label><br>
        @if (ViewBag.DestinationIsNull)
        {
            <select required="" class="login-input" onchange="Redirect(this)">
                <option disabled selected value="default"> -- select an option -- </option>
                <option  value="Destination">+ Add Destination</option>
            </select><br>
        }
        else
        {
            <select required="" class="login-input" name="DestinationId" id="destination">
                @{
                    foreach (var destination in (destinations as IList<ControlDestinationsViewModel>)!)
                    {
                        <option name="destination" value="@destination.Id">@destination.Name</option>
                    }
                }
            </select><br>
        }
      
        <input class="login-button" type="submit" value="Create">
        <script type="text/javascript">
            function Redirect(element) {

                window.$("#panel-container").load(`/Control/${element.value}`);
            }
        </script>
    </form>
  
</div>
}