@{
    ViewData["Title"] = "Error";
}
@section CSS{
    <link rel="stylesheet" href="~/css/error.css"/>
}
<div class="error" style="color: white">
    <img class="error-image" src="/img/error.png"/>
    <h1>@ViewData["Message"]</h1>
</div>