@using Beyond.Models.Crew
@model IEnumerable<CrewViewModel>
@{
    var crew = Model.ToList();
    <div class="main">
        @foreach(var crewViewModel in crew)
        {
            <div class="crew-row">
                <div class="crew-column">
                    <div class="crew-card">
                        <img class="crew-img" src="@crewViewModel.Url" alt="Jane">
                        <div class="crew-container">
                            <h2>@crewViewModel.Name</h2>
                            <p class="crew-title">@crewViewModel.Rank</p>
                            <p class="crew-description">@crewViewModel.Description</p>
                            <p>example@example.com</p>
                            <p class="crew-btn-cont"><button class="crew-button">Do i need that button?</button></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}