<div class="crew-row">
    <div class="crew-column">
        <div class="crew-card">
            <img class="crew-img" src="/img/crew/05eeb2f33d37c1f559699a25d4fb1f18.jpg" alt="Jane">
            <div class="crew-container">
                <h2>Jane Doe</h2>
                <p class="crew-title">CEO &amp; Founder</p>
                <p class="crew-description">Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p class="crew-btn-cont"><button class="crew-button">More</button></p>
            </div>
        </div>
    </div>

    <div class="crew-row">
        <div class="crew-column">
            <div class="crew-card">
                <img class="crew-img" src="img/crew/b5339fa4d4a73a8fd6eeb88c3d12f105.jpg" alt="Jane">
                <div class="crew-container">
                    <h2>Jane Doe</h2>
                    <p class="crew-title">CEO &amp; Founder</p>
                    <p class="crew-description">Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p class="crew-btn-cont"><button class="crew-button">More</button></p>
                </div>
            </div>
        </div>
    </div>

    <div class="crew-row">
        <div class="crew-column">
            <div class="crew-card">
                <img class="crew-img" src="img/crew/pilot2.jpg" alt="Jane">
                <div class="crew-container">
                    <h2>Jane Doe</h2>
                    <p class="crew-title">CEO &amp; Founder</p>
                    <p class="crew-description">Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p class="crew-btn-cont"><button class="crew-button">More</button></p>
                </div>
            </div>
        </div>
    </div>>

    <div class="crew-row">
        <div class="crew-column">
            <div class="crew-card">
                <img class="crew-img" src="img/crew/pilot3.jpg" alt="Jane">
                <div class="crew-container">
                    <h2>Jane Doe</h2>
                    <p class="crew-title">CEO &amp; Founder</p>
                    <p class="crew-description">Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p class="crew-btn-cont"><button class="crew-button">More</button></p>
                </div>
            </div>
        </div>
    </div>
</div>