@model IEnumerable<DestinationViewModel>
<div class="home-module">
    @{
        if (!Model.Any())
        {
            <h1>No available destinations yet ^_^</h1>
        }
        foreach (var destination in Model)
        {
            <div class="main-home-container">
               
                <img src="@destination.Url" width="100%" height="450px" style="object-fit: contain;"frameborder="0">
                <div class="text-block">
                    <h4>@destination.Name</h4>
                    <p>@destination.Description</p>
                </div>
                <a href="/Tickets/All?Id=@destination.Id">Ticket</a>
            </div>
        }
    }
</div>
