<div class="home-module">
    <div class="main-home-container">
        <div></div>
        <iframe src="https://solarsystem.nasa.gov/gltf_embed/2366" width="100%" height="450px" frameborder="0" ></iframe>
        <div class="text-block">
            <h4>Nature</h4>
            <p>What a beautiful sunrise</p>
        </div>
        <a asp-controller="Destinations" asp-action="Ticket">Ticket</a>
        @*<a href="/Destinations/Ticket/4434">Ticket</a>*@
    </div>
    <div class="main-home-container">
        <div></div>
        <iframe src='https://solarsystem.nasa.gov/gltf_embed/2372' width='100%' height='450px' frameborder='0' ></iframe>
        <div class="text-block">
            <h4>Nature</h4>
            <p>What a beautiful sunrise</p>
        </div>
    </div>
    <div class="main-home-container">
        <div></div>
        <iframe src='https://solarsystem.nasa.gov/gltf_embed/2391' width='100%' height='450px' frameborder='0' ></iframe>
        <div class="text-block">
            <h4>Nature</h4>
            <p>What a beautiful sunrise</p>
        </div>
    </div>
    <div class="main-home-container">
        <div></div>
        <img src="/img/iss-removebg-preview.png" alt="Norway" class="home-imgs-artic" style="width:100%;">
        <div class="text-block">
            <h4>Nature</h4>
            <p>What a beautiful sunrise</p>
        </div>
    </div>
</div>