.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    max-width: 300px;
    min-width: 300px;
    margin: 19px;
    text-align: center;
    font-family: arial;
    background-color: #4db8f65c;
}

.price {
    color: #4df6b9;
    font-size: 22px;
}

.ticket-button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.ticket-button-disabled {
    pointer-events: none;
    background-color: #555;

}

.ticket-button:hover {
    opacity: 0.7;
    background-color: #4df6b9;
}

.tickets-container {
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    .tickets-container > * {
        flex: 0 0 33.3333%;
        color: #f1f1f1;
    }


* {
    box-sizing: border-box;
}

/* Style the search field */
div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
div.example button {
    float: left;
    width: 20%;
    max-width: 60px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

div.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
div.example::after {
    content: "";
    clear: both;
    display: table;
}

.example {
    width: 40%;
    min-width: 200px;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.ticket-img {
    min-height: 532.97px;
    max-height: 532.97px;
    object-fit: cover;
}