@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-log-reg">
    <form method="post">
        <div class="row">
            <h2 class="login-header" style="text-align:center">Login</h2>
            <div class="col">
                <div asp-validation-summary="All" style="color: orangered;"></div>
                <span asp-validation-for="Input.Email" style="color: orangered;"></span>
                <input asp-for="Input.Email" required="" class="login-input" type="email" placeholder="Email">
                <span asp-validation-for="Input.Password" style="color: orangered;"></span>
                <input asp-for="Input.Password" required="" class="login-input" type="password" placeholder="Password">

                <input class="login-button" type="submit" value="Login">
            </div>

        </div>
        
    </form>
</div>
<div class="bottom-container">
    <div class="row">
        <div class="col">
            <a style="color:white" class="log-form-links">Don't have an account? </a>
            <a asp-area="Identity" asp-page="/Account/Register" class="log-form-links" type="button">Sign in.</a>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@*<div class="checkbox">
        <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
    </div>*@

@*<div class="form-group">
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
        <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </p>
    </div>*@