@{
    ViewData["Title"] = "Home";
}

<div class="intro-module">
    <h1>Travel is Beyond what you could have ever imagined.</h1>
    <h4>Who we are?</h4>
    <p>We bring the space travel to you.</p>
</div>